Flask==0.10.1
Flask-BasicAuth==0.2.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
eventlet==0.14.0
greenlet==0.4.2
gunicorn==18.0
itsdangerous==0.24
pycrypto==2.6.1
wsgiref==0.1.2
-e git+https://github.com/teozkr/Flask-Pushrod.git@99619e0486adaf208921371ddc14c8df4c6150c1#egg=Flask_Pushrod-dev
requests==2.3.0
datadiff==1.1.5
redis==2.10.1
