{% extends "base.html" %}
{% block content %}
  <div class="row">

    <div class="col-md-12">
      <p>Land Registry &mdash; Mint</p>
      <p class="text-muted">No titles listing support yet. Try adding one below...</p>

      {% if titles %}
      {% for title in titles %}
        <h2>Title</h2>
        <p>{{title}}</p>
      {% endfor %}
      {% else %}
      <p class="text-muted">No titles</p>
      {% endif %}

      <form action="/titles" method="POST">
        <textarea name="payload" cols="200" rows="10">{"title_number":"THX1138","foo":"bar"}</textarea>
        <input type="submit">
      </form>
    </div>

  </div>
{% endblock %}
